*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}

body{
    background:url(image/back16.jpg);
    background-size: cover;
}

.login-form{

    width: 350px;
    top: 10%;
    left: 38%;
    position: absolute;
    color: #fff;

}

.login-form h1{

    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0px;

}

.login-form p{

    font-size: 20px;
    margin: 15px 0px;
}

.login-form input{
    font-size: 16px;
    width: 100%;
    padding: 15px 10px;
    border-radius: 5px;
    border: 0;

}
.login-form button{
    font-size: 18px;
    width: 50%;
    margin: 20px 0px;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 8px;
    border: 0;

}

.login-form button:hover{
    color: tomato;
    
}

.socials i{
    padding: 10px;
    font-size: 40px;
    margin-left: 20px;
}

.socials a {
    text-decoration: none;
    border-radius: 100%;
    color: rgb(90, 212, 79);
}
   

